.DetailUnit {
  &__info {
    &--skkni {
      margin: 20px 0;
      font-size: 40px;
      font-weight: 700;
    }
    &--title {
      margin: 20px 0;
      font-size: 25px;
      font-weight: 500;
    }
    &--deskripsi {
      margin: 25px 0;
      font-size: 16px;
    }
  }
}
