.SimilarUnit {
  width: 100%;
  color: black;
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  &:hover {
    background-color: rgb(240, 238, 238);
  }

  .DetailUnit {
    display: flex;
    flex-direction: column;
  }
}
